
.username input[type=text],
.email input[type=text],
input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
}

.form_background {
    background-color: grb(250, 250, 250);
    max-width: 100%;
    max-height: 100%;
}

span.password {
    float: right;
    padding-top: 16px;
}

.loginbutton:hover {
    opacity: 0.8;
}

/* .signup-button{
    border-radius: 20px;
    width: 100px;
    color: #00142A;
    font-weight: bolder;
} */

.loginbutton {
    width: 150px;
    padding: 10px 18px;
    background-color: #1f1e6d;
    position: relative;
    bottom: 480px;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    position: relative;
    top: 10px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signupspan {
    color: cyan;
    font-size: 28px;
}

.signup-question {
    color: #fff;
}

.signup {
    text-align: center;
}

.error {
    color: #ff6666;
    text-align: center;
}
a{
    text-decoration: none; color: inherit;
}



.container {
    padding: 16px;
}



h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

b {
    margin-left: 0 auto;
    display: block;
    padding-left: 25%;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
    .cancelbutton {
        width: 100%;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
